/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body .container-fluid {
  -webkit-box-shadow: inset 6px 3px 30px 9px rgba(52, 50, 50, 0.09);
  -moz-box-shadow: inset 6px 3px 30px 9px rgba(52, 50, 50, 0.09);
  box-shadow: inset 6px 3px 30px 9px rgba(52, 50, 50, 0.09);
}

body .container-fluid .main_links .round:hover, body .container-fluid .main_links .round:active, body .container-fluid .main_links .round:visited, body .container-fluid .thumb > div > a, body .container-fluid footer.container-fluid .small_links .sm-round:hover {
  -webkit-box-shadow: inset 1px -9px 11px 8px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: inset 1px -9px 11px 8px rgba(50, 50, 50, 0.28);
  box-shadow: inset 1px -9px 11px 8px rgba(50, 50, 50, 0.28);
}

body .container-fluid .navbar-inverse li a:hover, body .container-fluid h1 {
  text-shadow: 0px 3px 4px #969696;
}

/*-----mainSCSS-----*/
body {
  background-color: #E6EAEB;
  max-width: 100%;
  overflow-x: hidden;
}

body .container-fluid {
  padding: 0;
  margin-top: -190px;
}

body .container-fluid .parallax-window {
  padding-top: 200px;
  min-height: 1050px;
  background: transparent;
  border-top: 4px solid #2C3E50;
  padding-bottom: 40px;
}

body .container-fluid .parallax-window.secondPage {
  position: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 300px;
  padding-top: 80px;
}

body .container-fluid .parallax-window .navOnHover {
  border-bottom: 2px solid #E6EAEB;
}

body .container-fluid .container button {
  margin-top: 90px;
}

body .container-fluid .container li {
  width: auto;
  list-style: none;
}

body .container-fluid .container .navbar-brand img {
  width: 75px;
  height: 70px;
  margin-left: -110%;
  margin-top: 16px;
}

body .container-fluid .container .navbar-brand img:hover {
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-duration: 1s;
}

body .container-fluid .is-sticky .navbar-inverse {
  background-color: #6dbcdb;
}

body .container-fluid .navbar-inverse {
  background-color: rgba(109, 188, 219, 0);
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  body .container-fluid .navbar-inverse {
    height: 157px;
  }
  body .container-fluid .navbar-inverse button:hover {
    background-color: #6dbcdb;
  }
  body .container-fluid .navbar-inverse .nav:first-child {
    margin-left: 20px;
  }
  body .container-fluid .navbar-inverse ul li {
    margin-bottom: -20px;
  }
  body .container-fluid .navbar-inverse .navbar-collapse {
    height: 300px;
  }
  body .container-fluid .navbar-inverse #logo {
    margin-top: 36px;
  }
}

body .container-fluid .navbar-inverse li {
  margin-top: 42px;
  margin-left: 15px;
}

body .container-fluid .navbar-inverse a {
  font-family: "Oleo Script", cursive;
  font-size: 1.2em;
  color: #2C3E50 !important;
}

body .container-fluid .navbar-inverse .active {
  color: #F4FCFF !important;
}

body .container-fluid .navbar-inverse li a:hover {
  color: #F4FCFF !important;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

body .container-fluid .navbar {
  border: none;
  padding-bottom: 25px;
  margin-top: -60px;
  border-bottom: 0px solid #2C3E50;
}

body .container-fluid .navbar-collapse {
  border-radius: 10px;
  margin-top: -20px;
}

body .container-fluid .navbar-collapse ul li {
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  body .container-fluid .navbar-collapse {
    background-color: #6dbcdb;
    border: 1px solid #2C3E50;
  }
  body .container-fluid .navbar-collapse li {
    width: 80px;
  }
}

body .container-fluid .navbar-toggle {
  border: none;
}

body .container-fluid p {
  font-family: "Josefin Slab", serif;
  font-size: 2.3em;
  color: #F4FCFF;
  background-color: rgba(140, 140, 140, 0.8);
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  text-align: left;
  line-height: 35px;
  float: right;
  -webkit-box-shadow: 0px -1px 63px 37px rgba(140, 138, 138, 0.8);
  -moz-box-shadow: 0px -1px 63px 37px rgba(140, 138, 138, 0.8);
  box-shadow: 0px -1px 63px 37px rgba(140, 138, 138, 0.8);
}

@media only screen and (max-width: 960px) {
  body .container-fluid p {
    font-size: 2.5em;
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid p {
    font-size: 2em;
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid p {
    font-size: 1.5em;
    width: 100%;
    margin-top: -20%;
  }
}

body .container-fluid h1 {
  font-family: "Oleo Script", cursive;
  color: #F4FCFF;
  font-size: 5em;
  margin-bottom: 40px;
}

body .container-fluid .pageOne, body .container-fluid .pageTwo {
  position: relative;
  margin: auto;
  margin-top: 20px;
  max-width: 95%;
}

@media only screen and (min-width: 769px) {
  body .container-fluid .pageOne p {
    float: left;
    width: 42%;
    font-size: 2em;
    background: none;
    box-shadow: none;
    margin-top: -10%;
  }
}

@media only screen and (min-width: 960px) {
  body .container-fluid .pageOne p {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid .pageOne p {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid .pageOne p {
    width: 100%;
    text-align: center;
  }
}

body .container-fluid .main_links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  height: 70px;
  z-index: 10000;
  clear: both;
}

@media only screen and (min-width: 769px) {
  body .container-fluid .main_links {
    margin-left: 10px;
    float: left;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid .main_links {
    margin-left: 1%;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid .main_links {
    margin-left: 10px;
  }
}

body .container-fluid .main_links .round {
  display: block;
  border: 2px solid #2C3E50;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding-top: 12px;
  margin-right: 10px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition-duration: 0.1s;
  /* Safari */
  transition-duration: 0.1s;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.36);
  -moz-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.36);
  box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.36);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 960px) {
  body .container-fluid .main_links .round {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid .main_links .round {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid .main_links .round {
    width: 50px;
    height: 50px;
  }
}

body .container-fluid .main_links .round:hover {
  padding-top: 0px;
  width: 90px;
  height: 90px;
  background-color: #FC9E49;
  clear: both;
  padding-top: 5px;
  width: 67px;
  height: 67px;
  background-color: #FC9E49;
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-duration: 1s;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

body .container-fluid .main_links .round:hover > .fa {
  transform: rotateX(25deg);
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

body .container-fluid .main_links .round:active {
  padding-top: 0px;
  width: 70px;
  height: 70px;
  background-color: #FC9E49;
}

body .container-fluid .main_links .round:visited {
  padding-top: 0px;
  width: 70px;
  height: 70px;
  background-color: #FC9E49;
}

body .container-fluid .fa-linkedin {
  color: #0077B5;
}

body .container-fluid .fa-facebook {
  color: #0e1f5b;
}

body .container-fluid .fa-twitter {
  color: #55acee;
}

body .container-fluid .fa-fire {
  color: #8A503B;
}

body .container-fluid .fa-codepen, body .container-fluid .fa-github {
  color: black;
  margin-left: 1.5px;
  margin-top: 1px;
}

body .container-fluid #portfolio {
  font-size: 0.7em;
  visibility: hidden;
}

body .container-fluid .thumb {
  display: inline-block;
  top: 150px;
  margin: 0 10%;
}

@media only screen and (max-width: 780px) {
  body .container-fluid .thumb {
    margin-left: 27vw;
  }
}

@media only screen and (max-width: 680px) {
  body .container-fluid .thumb {
    margin-left: 23vw;
  }
}

@media only screen and (max-width: 580px) {
  body .container-fluid .thumb {
    margin-left: 19vw;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid .thumb {
    margin-left: 14vw;
  }
}

@media only screen and (max-width: 380px) {
  body .container-fluid .thumb {
    margin-left: 0vw;
  }
}

body .container-fluid .thumb .simon {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/simon.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .simon:hover {
  background-image: grey url("../images/build/simon.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .tictactoe {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/tictactoe.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .tictactoe:hover {
  background-image: grey url("../images/build/tictactoe.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .wikiview {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/wikiview.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .wikiview:hover {
  background-image: grey url("../images/build/wikiview.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .freeCCNews {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/freeCCNews.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .freeCCNews:hover {
  background-image: grey url("../images/build/freeCCNews.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .clock {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/clock.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .clock:hover {
  background-image: grey url("../images/build/clock.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .quotes {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/quotes.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .quotes:hover {
  background-image: grey url("../images/build/quotes.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .blackjack {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/blackjack.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .blackjack:hover {
  background-image: grey url("../images/build/blackjack.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .weather_app {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/weather_app.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .weather_app:hover {
  background-image: grey url("../images/build/weather_app.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .twitch_app {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/twitch_app.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .twitch_app:hover {
  background-image: grey url("../images/build/twitch_app.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .calculator {
  width: 309px;
  height: 317px;
  background-size: 605px 310px;
  background-position: left top;
  transition: .2s;
  background-image: url("../images/build/calculator.png");
  /*images/build folder only in deployment*/
  background-size: 200% 100%;
}

body .container-fluid .thumb .calculator:hover {
  background-image: grey url("../images/build/calculator.png");
  background-position: right top;
  transition: .2s;
}

body .container-fluid .thumb .calc {
  width: 94% !important;
}

body .container-fluid .thumb > div > a {
  padding: 0px;
  border-radius: 10px;
  border: 4px solid #2C3E50;
}

body .container-fluid .thumb > div > a > img {
  border-radius: 5px;
}

@media only screen and (max-width: 1180px) {
  body .container-fluid .thumb .progects {
    margin-right: 0px;
  }
}

body .container-fluid .thumb .progects a {
  max-width: 359px;
  max-height: 360px;
}

@media only screen and (max-width: 1180px) {
  body .container-fluid .thumb .progects a {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 950px) {
  body .container-fluid .thumb .progects a {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 770px) {
  body .container-fluid .thumb .progects a {
    width: 310px;
    height: 310px;
  }
}

body .container-fluid .goodbye p {
  width: 55%;
  margin-top: 10%;
  margin-left: 10%;
  float: left;
  text-align: left;
  background-color: rgba(120, 120, 120, 0.9);
}

body .container-fluid .goodbye p a {
  color: #E6EAEB;
}

@media only screen and (min-width: 769px) {
  body .container-fluid .goodbye p {
    font-size: 2em;
    width: 65%;
    text-align: center;
    margin-left: 2%;
    margin-top: 12%;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid .goodbye p {
    font-size: 2em;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid .goodbye p {
    font-size: 1.3em;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 25%;
  }
}

body .container-fluid footer.container-fluid {
  background-color: #6dbcdb;
  padding: 0px;
  padding-bottom: 80px;
  border-top: 1px solid #2C3E50;
}

body .container-fluid footer.container-fluid li {
  width: auto;
  list-style: none;
}

body .container-fluid footer.container-fluid h5 {
  font-family: "Oleo Script", cursive;
  color: #2C3E50;
  margin-left: -5%;
}

@media only screen and (max-width: 960px) {
  body .container-fluid footer.container-fluid h5 {
    margin-left: -5%;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid footer.container-fluid h5 {
    margin-left: -12%;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid footer.container-fluid h5 {
    margin-left: -12%;
  }
}

body .container-fluid footer.container-fluid .small_links {
  clear: left;
}

@media only screen and (max-width: 960px) {
  body .container-fluid footer.container-fluid .small_links {
    margin-left: -11%;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid footer.container-fluid .small_links {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid footer.container-fluid .small_links {
    margin-left: 1%;
  }
}

body .container-fluid footer.container-fluid .small_links .sm-round {
  width: 30px;
  height: 30px;
  border: 1px solid #2C3E50;
  border-radius: 50%;
  margin-left: 12.2%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 7px;
  padding-top: 3px;
  background-color: #E6EAEB;
  float: left;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

@media only screen and (max-width: 960px) {
  body .container-fluid footer.container-fluid .small_links .sm-round {
    margin-left: 13%;
  }
}

@media only screen and (max-width: 768px) {
  body .container-fluid footer.container-fluid .small_links .sm-round {
    margin-left: 8.5%;
  }
}

@media only screen and (max-width: 480px) {
  body .container-fluid footer.container-fluid .small_links .sm-round {
    margin-left: 8.5%;
  }
}

body .container-fluid footer.container-fluid .small_links .sm-round.linkedin_link {
  padding-left: 8px;
}

body .container-fluid footer.container-fluid .small_links .sm-round.facebook_link {
  padding-left: 9px;
  padding-top: 4px;
}

body .container-fluid footer.container-fluid .small_links .sm-round.twitter_link {
  padding-left: 7px;
  padding-top: 4px;
}

body .container-fluid footer.container-fluid .small_links .sm-round.freecodecamp_link {
  padding-left: 8px;
}

body .container-fluid footer.container-fluid .small_links .sm-round.codepen_link {
  padding-left: 6px;
}

body .container-fluid footer.container-fluid .small_links .sm-round:hover {
  background-color: #FC9E49;
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-duration: 1s;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}
